# Dependencies
node_modules/
uploads/
__pycache__/
images/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*.png
metadata.json

# Cache
.cache/
.vite/
